<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-6">
                    <img src="https://www.capsule8.io/img/headshots/brandon-edwards.png">
                </div>
                <div class="col-lg-6">
                    <h1>Brandon Edwards</h1>
                    <h2>NYU Tandon University</h2>
                    <p>Brandon was previously VP of Threat Labs at BAE Systems, through its successful acquisition of SilverSky. There, he led the development of their cloud-based, zero-day prevention product.<br>
                    Brandon was previously VP of Threat Labs at BAE Systems, through its successful acquisition of SilverSky. There, he led the development of their cloud-based, zero-day prevention product.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>